<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title>Eventos</title>
<meta charset="utf-8">

<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/css/style.css" />

</head>
<body>

	<header th:replace="Cabecalho"></header>

	<div class="jumbotron">
		<diV class="container">
			<h1>Gerenciamento de Eventos</h1>
		</diV>
	</div>

	<footer th:replace="Rodape"></footer>

</body>
</html>